body{
    background-color: #ccc;
    margin: 0 auto;
}

.responsive_nav a:hover, .responsive_nav a:focus {
     background-color: #ebebd3;
     color: #444;
    border-bottom: none;
}

#logo{
    position: fixed;
    top: 0;
    left:5%;
    z-index:100;
    display: none;
}

.pgTitle{
    margin: 0;
}

.auto_slideshow{
    margin: 1em auto;
}

.pgTitle{
    font-size: 2.5rem;
}

#home, #portfolio{
    background-color: #514948;
    color:#ebebd3;
}
#home h1{
    font-size: 4.2rem;
}

#home a{
    color:#ebebd3;
    font-style: italic;
    font-weight: bold;
    font-size: 2rem;
}

.home_intro{
    padding: 2em;
    text-align: center;
}

 #about, #portfolio, #contact{
    margin: 0 auto;
    padding: 1em;
}

#about, #contact{
    background-color: #d8cbc3;
    color: #444;
}

#profilePic img{
    border-radius: 50%;
}

#portfolio h5{
    padding-left: 1.5em;
    text-align: left;
}

button:hover {
    background-color: #444;
    color:#ebebd3;
}

.modal{
    background-color: rgb(81,73,72); /* For backward compatibility */
    background-color: rgba(81,73,72,0.9);
}
#myButtons{
    text-align: center;
}
/**********Media Queries ********************/
@media screen and (min-width:768px){

#home, #about, #portfolio, #contact{
        padding: 2% 10%;
    }

.top_fixed_nav{
    background-color: #444;
}

.responsive_nav {
    font-family: 'Yesteryear', serif;
}

.responsive_nav a{
    color:#ebebd3;
}

.responsive_nav li:hover a, .responsive_nav li:focus a {
     background-color: #ebebd3;;
     color: #444;
    border-bottom: none;
}

#logo{
    display: block;
    }

#home h1{
    font-size: 5.2rem;
}
.home_intro{
    text-align: center;
}
.pgTitle{
    margin: 1em;
}

.aboutMe{
    padding: 0 .5em;
}

#profilePic{
    padding-right: 2em;
    padding-left: 2em;
    }
}
